:root {
	--background: rgb(243, 244, 247);
	--text: black;
	--boxe: white;
}
.dark {
	--background: black;
	--text: white;
	--boxe: rgb(31, 30, 30);
}
.App {
	display: grid;
	grid-template-columns: 1fr 4fr;
}
.container {
	position: fixed;
	width: 20%;
	height: 100%;
	background-color: rgb(11, 9, 17);
	color: aliceblue;
	align-items: center;
	overflow-y: scroll;
}
body {
	margin: 0;
	height: 100vh;
	background-color: var(--background);
	color: var(--text);
}

p {
	color: rgb(59, 59, 59);
}
.header {
	display: flex;
	width: 79%;
	height: 50px;
	position: fixed;
	background-color: white;
	padding: 15px;
	justify-content: space-between;
}
.ham {
	display: none;
	justify-content: space-between;
}
input {
	background-color: transparent;
	border: none;
	width: 200px;
	height: 20px;
	color: rgb(17, 17, 17);
}

.search {
	display: flex;
	width: 250px;
	height: 30px;
	background-color: rgb(243, 244, 247);
	border-radius: 10px;
	place-content: center;
	padding: 5px;
	color: rgb(77, 76, 76);
}
.search-icn {
	width: 15px;
}
.dash {
	color: aliceblue;
	display: block;
	margin: 10px;
	margin-left: 20px;
	text-decoration: none;
}
span {
	margin: 20px;
}
.text {
	margin-top: 50px;
	color: rgb(156, 156, 156);
	margin-left: 20px;
}
.menu {
	padding: 50px;
	margin: 20px;
	margin-left: 5px;
}
.big-container {
	display: flex;
	gap: 30px;
	margin-bottom: 30px;
}
.left {
	width: 50%;
	height: 400px;
	background-color: var(--background);
	display: block;
	margin-bottom: 80px;
}
.right {
	width: 100%;
	height: 440px;
	background-color: white;
	border-radius: 20px;
	padding: 5px;
	margin-top: 20px;

}
.bottom {
	display: flex;
	width: 100%;
	height: 142px;
	background-color: var(--background);
	gap: 15px;
}

.top {
	width: 100%;
	height: 250px;
	background-color: #fff;
	margin-bottom: 30px;
	border-radius: 15px;
	padding-bottom: 10px;
}
.u{
	padding: 10px;
}
.bottom-left {
	width: 50%;
	height: 130px;
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	padding: 5px;
}
.bottom-right {
	width: 50%;
	height: 130px;
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	padding: 5px;
}
.user-top {
	width: 280px;
	height:150px;
	margin-bottom: 25px;
	background-color:rgb(51, 153, 255);
	border-radius: 10px;
	display: block;
	padding: 10px;
}
.user-middle {
	width: 280px;
	height: 150px;
	margin-bottom: 25px;
	background-color:rgb(255, 204, 0);
	border-radius: 10px;
	padding: 10px;
}
.blue-cnt{
	height: 100%;
	width: 100%;
}
.user-bottom {
	width: 280px;
	height: 150px;
	margin-bottom: 25px;
	background-color:rgb(239, 55, 110);
	border-radius: 10px;
	padding: 10px;
}

.Users-container {
	width: 100%;
	height: 500px;
margin-bottom: 50px;
	margin-top: 4px;

	display: flex;
gap: 40px;
}
.Right{
	width: 100px;
}
.big-user {
	padding: 15px;
	border-radius: 20px;
	background-color: #fff;
	width: 80%;
	height: 540px;
	margin-bottom: 40px;
}
.bottom-user{
	width: 100%;
	height: 600px;
	background-color: #fff;
	border-radius: 20px;
	margin-top: 100px;
}
button {
	margin: 30px;
	width: 180px;
	height: 45px;
	border-radius: 10px;
	border: none;
	background-color: rgb(107, 119, 133);
}
h2 {
	font-size: 25px;
}
.Icons {
	display: flex;
	color: rgb(77, 76, 76);
}
.icon {
	margin: 10px;
}
.sun {
	margin: 10px;
	border-right: 1px solid rgb(107, 119, 133);
	padding-right: 10px;
}
.mail {
	margin: 10px;
	border-right: 1px solid rgb(107, 119, 133);
	padding-right: 10px;
}
.colors-container {
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
padding: 10px;
}
.color2{
	display: block;
}
.head {
	display: flex;
	align-items: center;
}

#bnt {
	width: 80%;
	background-color: rgb(11, 9, 17);
	color: #fff;
	border: none;
	margin: 20px;
}
.color1 {
	width: 150px;
	height: 130px;
	border-radius: 10px;
	display: flex;	
	margin: 30px;
}
.text-color{
	padding: 10px;
	display: block;	
}
.traffic {
	height: 250px;
	width: 100%;
}
.date {
	margin-top: none;
}
.calendar {
	width: 1000px;
}
.base {
	border: none;
	background-color: rgb(11, 9, 17);
	color: #fff;
}
button {
	margin: 20px;
}
.chart {
	height:85%;
	width: 100%;
}
.pie{
width: 100%;
height: 100%;
}
.cart{
	background-color: lightblue;
	color: rgb(51, 153, 255);
	margin-top: 12px;
	width: 30px;
	height: 30px;
	padding: 10px;
border-radius: 5px;	
}
.dot{
	margin-top: 12px;
}
.blue{
	display: flex;
	justify-content: space-between;
}
.all{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(204, 204, 204);
}
.Aser{
	display: flex;
	justify-content: space-between;
}
.All{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid  rgb(204, 204, 204);
	padding: 10px;
}
.pic img{
	border-radius: 100%;
	width: 40px;
	height: 40px;
}
.chart-container{
	width: 100%;
	display: flex;
	align-content: space-between;
}
.top-chart{
	width: 50%;
	background-color: #fff;
}
@media (max-width: 900px) {
	.App {
		display: block;
		grid-template-columns: none;
	}
	.header {
		width: 97%;
	}
	.container {
		display: none;
	}
	.big-container {
		display: block;
	}
	.left {
		width: 100%;
		margin-bottom: 20px;
	}
	.ham {
		display: flex;
	}
}
