
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(186, 139, 229);
}
.icons{
  font-size: 5px;
}

.todo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blueviolet;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  height: 30px;
}
button{
  border-radius: 10px;
}
input{
  border: none;
}
p{
 
}